<div style="display: flex; justify-content:center;">
    <form class="mf-profile">
      <div class="img">
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="imagen">
      </div>
  
      <div class="inputs">
        <div class="mf-profile-inputs">
          <label for="txtEmail">Email</label>
          <input type="text" id="txtEmail" value="josh@ionic.io">
        </div>
  
        <div class="mf-profile-inputs">
          <label for="txtFirstName">First Name</label>
          <input type="text" id="txtFirstName" value="Josh">
        </div>
  
        <div class="mf-profile-inputs">
          <label for="txtLastName">Last Name</label>
          <input type="text" id="txtLastName" value="Thomas">
        </div>
      </div>
  
      <div class="mf-profile-sections">
        <label>Adress</label>
        <hr>
        <div class="mf-profile-sections_data">
          <label>street: <span>1234 Shady Lane</span></label>
          <label>city: <span>Middleton</span></label>
          <label>state: <span>WI</span></label>
          <label>postal: <span>53717</span></label>
        </div>
      </div>
  
      <div class="mf-profile-sections">
        <label>Credit cards</label>
        <hr>
        <div class="mf-profile-sections_data">
          <label>company: <span>Visa</span></label>
          <label>number: <span>4111111111111234</span></label>
          <label>expirationDate: <span>2025-06-30</span></label>
          <label>zip: <span>53717</span></label>
        </div>
      </div>
    </form>
  </div>