<div class="p-3 bg-grey">
  <div class="content-shopping-cart bg-white">
    <h3 class="font-navistar-bold pt-3 pl-3">{{ infoPages.titlePage }}</h3>
    <div class="row p-3">
      <div class="col-xl-9 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="bg-white-actions">
          <axity-cart-item
            *ngFor="let product of shopCart.products; let index = index"
            [product]="product"
            (setQuantity)="updateProductQuantity($event.product, $event.quantity)"
            (delete)="deleteProduct($event)"
          ></axity-cart-item>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="bg-white-actions">
          <axity-resume-shopping [shopCart]="shopCart"></axity-resume-shopping>
          <div class="pt-3">
            <button type="button" class="btn btn-primary w-100">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
